## Verify Data Quality

### Data manipulation

In this section, I will import the data and make any transforms required for this section. This should be merged into the general data prep for the rest of the notebook

In [3]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
import seaborn as sns
%matplotlib inline

In [6]:
airbnb = pd.read_csv('C:/Users/William/OneDrive/MLI/AB_NYC_2019.csv')
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

###  Explain any missing values

Stuff

In [7]:
airbnb.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

The table above gives us a count of the missing values in each of our data fields. 

Last review and reviews per month are have a significant amount of missing data. These missing values likely indicate there are no reviews for these particular listings. There are a variety of missing imputation strategies, we would want to be careful hear since imputing a value here would tell the model the listing has reviews, when the fact that there are no reviews could be valuable information. In a normal regression model, a zero imputation might be useful because it would remove the effect of this feature. We could also include a dummy variable to indicate if this feature is missing, which would help us tell if the model gains infomation from knowing there are no reviews.

The other features with missing values are name and host_name. This is likely because they were not provided by the host, or the data collector was unable to retrieve it from the page. It does not make sense to impute these. We have host_id, with no missing, to identify unique hosts. In most cases that would make name and host_name redundant. If for some reason we do need them, we could try to repair them by checking if that host has any other listings with those variables populated, using host_id. Otherwise, we'd likely give them an empty label.

### Duplicate Data

Stuff

### Outliers

Stuff

### Are those mistakes? How do you deal with these problems? Be specific.

Stuff